.procard {
    width: 1200px;
    height: 800px;
    border-radius: 20px;
    /* background: linear-gradient(to left, gray, white); */
    margin-top: 100px;
    /* border: 3px solid black; */
    z-index: 1;
}

.proimg img {
    width: 647px;
    height: 561px;
    max-height: 794px;
    border-radius: 20px;
    border: 1px solid #ACACAC;
}
.lil-pro-img-left {
    margin-right: 26px;
}

.containerofprocard {
    height: 744px;
    width: 1314px;
    margin: auto;
}

.pro-border {
    width: 618px;
    height: 0;
    border: 1px solid #ACACAC;
    margin-top: 30px;
}

.pro-bold {
    font-size: 18.17px;
    font-weight: 500;
    margin-right: 20px;
}

.pro-gravity {
    justify-content: space-evenly;
}

.pro-gravity {
    margin-left: 30px;
    margin-right: 30px;
}

.proimg {
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    opacity: 0.8;
    margin: auto;
    flex: 1;
    flex-wrap: wrap;
}

.pro-double {
    width: 241px;
    height: 73px;
    border: 0;
    border-radius: 32px;
    color: white;
    background-color: #003585;
    font-size: 22.7px;
    margin-top: 30px;
}

.pro-special-buy {
    margin-left: 20px;
}

.top-of-pro {
    margin-top: 30px;
}

.pro-number button{
    height: 32px;
    width: 63px;
    border: 1px solid #ACACAC;
    /* margin: auto; */
}

.pro-left-signs {
    margin-left: 15px;
}

.pro-signs {
    width: 35px;
    height: 32px;
    border: 1px solid #ACACAC;
}

.pro-zero {
    margin: auto;
}

.lil-pro-img img{
    width: 310px;
    height: 157px;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid #ACACAC;
}

.proinfo {
    width: 619px;
    height: 744px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px 30px 30px;
    position: relative;
    /* background: linear-gradient(to left, gray, white); */
    flex: 1;
}

.proprice {
    font-size: 33px;
    font-weight: 600;
}

.blue_order {
    background-color: #003585;
}

.gray_order{
    background-color: #D9D9D9;
}


/*            Order                 */

.order_order {
    position: absolute;
    bottom: 0;
    margin: 0px 15px 30px 15px;
}

.order_btn {
    width: 435px;
    height: 61px;
    border-radius: 8px;
    color: #ACACAC;
    border: 0;
}

.my_basket {
    color: #003585;
    
    font-weight: 24;
}

.offcanvas.offcanvas-end{
    width: 499px;
    border-radius: 8px;
}

.myBasket {
    margin: 0px 15px 0px 15px;
}

.pasket {
    padding-top: 150px;
    justify-content: center;
}

.empty_basket {
    color: #003585;
    border-bottom: 1px solid #003585;
    cursor: pointer;
}

.basketEntred_img {
    padding: 15px;
}

.basketEntred_img img {
    width: 85px;
    height: 85px;
    border-radius: 8px;
}

.containerOfBasket {
    width: 435px;
    height: 117px;
    border:1px solid #D9D9D9;
    border-radius: 4px;
    margin-top: 10px;
}

.basketInfo {
    margin-top: 10px;
}

.basketDeleter {
    width: 13.39px;
    height: 13.39px;
    border: 0;
    position: absolute;
    right: 0;
    margin: 5px 25px 0px 0px;
    background-color: white;
}

.registerClass {
    width: 450px;
}


/*          relatedProduct          */

.relatedProduct {
    width: 225px;
    height: 41px;
    font-size: 27.38px;
    font-weight: bold;
    color: #1B5A7D;
}

.containerProduct {
    width: 1314px;
    height: 450px;
    margin: auto;
    padding-top: 100px;
}


/*          relatedProduct          */