.containerCanon {
    height: 573px;
    background-color: #003585;
    justify-content: center;
}

.flex {
    display: flex;
}


.rightCanon {
    right: 0;
    margin: 29px 506px 0px 0px;
}


/* @media screen and (min-width: 360px) {
    .rightCanon img {
        width: 253px;
        width: 120px;
    }
}

@media screen and (max-width: 1080px) {
    .rightCanon img {
        width: 506px;
        width: 120px;
    }
} */




.canonCamera {
    font-weight: 500;
    font-size: 55px;
    color: white;
}

.containerofcanon {
    max-height: 110px;
}


.btns {
    width: 144px;
    height: 61px;
    border-radius: 20px
}

.containerofbtns {
    margin: 72px 0px 0px 0px;
    max-width: 100%;
}

.shopnow {
    background-color: white;
    border: 0;
}

.viewmore {
    color: #A7F65C;
    border: 1px solid #A7F65C;
    margin-left: 21px;
    background-color: #003585;
}

.containerofbtcan {
    margin-top: 183px;
    margin-right: 460px;
}

.rightCanon img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.only {
    background-color: #A7F65C;
    width: 120px;
    height: 114px;
    border-radius: 100px;
    font-size: 21.57px;
    font-weight: 600;
    color: #003585;
    align-items: center;
    justify-content: center;
    position: absolute  ;
    margin: 380px 50px 0px 0px;
    margin-left: 50px;
    right: 0;
}

.carousel-item {
    max-width: 100%;
}

.leftCanon {
    max-width: 100%;
}

.carousel-caption {
    position: relative;
}